@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');
body {
    background-color: #222222;
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 0px;
    max-height: 45px;
    display: flex;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: #11111122;
    border-bottom: 1px solid #FFFFFF99;
    padding: 0;
    margin: 0;
    z-index: 1;
    transition: 0.1s;
    transform: translateY(-45px);
}

ul {
    padding: 0;
}

.header-list li {
    color: #FFFFFF;
    border-right: 1px solid #AAA5;
    float: left;
    min-width: 30px;
    height: 100%;
    padding: 0 2em 0 2em;
    margin: auto;
    line-height: 100%;
    list-style-type: none;
    background-image: linear-gradient(65deg, #FFFFFF 50%, #11111100 50%);
    background-repeat: no-repeat;
    background-size: 225%;
    background-position: 100% 0%;
    transition: 0.3s;
}

.header-list .home {
    border-left: 1px solid #AAA5;
}

.header-list li:hover {
    background-position: 0% 0%;
    color: #000;
    text-shadow: 0 0 1px black;
    transition: 0.3s;
}

.header-list a:active, .header-list a:hover, .header-list a:visited, .header-list a:link {
    text-decoration: none;
}

#hero {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 6vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 900;
    letter-spacing: 0.1em;
    cursor: default;
    color: transparent;
    overflow: hidden;
    transition: font-size 0.1s;
}

#hero-main-text {
    animation-name: gradanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-shadow: 0px 0px 2px #30A5;
    background-image: linear-gradient(135deg, #A0F 0%, #A0F 16%, #33B 35%, #33B 65%, #A0F 84%, #A0F 100%);
    background-size: 200%;
    background-repeat: repeat-x;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 0 0 0 0;
    margin: 0;
}

#wip-text {
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 0.5em;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 540px) {
    #hero {
        font-size: 8vh;
        transition: font-size 0.1s;
    }

    nav {
        height: 60px;
    }

    .header-list li {
        height: 45px;
        line-height: 45px;
    }
}

@media screen and (max-height: 539.5px) {
    #hero {
        font-size: 12vh;
        transition: font-size 0.1s;
    }
}

@media screen and (min-height: 539.5px) and (orientation: landscape) {
    nav {
        transform: translateY(0px);
        transition: 0.15s;
    }
}

@keyframes gradanim {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 0%;
    }
}

@-webkit-keyframes gradanim {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 0%;
    }
}
